{% extends 'base.html' %}
{% load mathfilters %}


{% block title %}
<title>TradeAnalysis</title> 
{% endblock title %}

{% block body %}


  {% comment %} {{line_chart | safe}}  {% endcomment %}



    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
          
              <!-- Begin Page Content -->
              <div class="container-fluid">

                  <!-- Page Heading -->
                  {% comment %} <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                              class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                  </div> {% endcomment %}

                  <!-- Content Row -->
                  <div class="row">

                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                              Net Investment</div>
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_invetment}}</div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-success shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                              Net PNL</div>
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{net_profit}}</div>
                                      </div>
                                      <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                          {% comment %} <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> {% endcomment %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Today's PNL</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{todays_pnl}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                      <!-- Win rate Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-info shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Win Rate
                                          </div>
                                          <div class="row no-gutters align-items-center">
                                              <div class="col-auto">
                                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{win_rate}}%</div>
                                              </div>
                                              <div class="col">
                                                  <div class="progress progress-sm mr-2">
                                                      <div class="progress-bar bg-info" role="progressbar"
                                                          style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                          aria-valuemax="100"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      
                  </div>



                  <!-- Content Row -->

                  <div class="row">

                      <!-- Area Chart -->
                      <div class="col-xl-6 col-lg-5">
                          <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h5 class="m-0 font-weight-bold text-info">Asset Allocation</h5>
                                  
                              </div>
                              <!-- Card Body -->
                              <div class="card-body">
                                {{pie_chart | safe}} 
                              </div>
                          </div>
                      </div>

                      <!-- Pie Chart -->
                 

                      <div class="col-xl-6 col-lg-5">

                          {% comment %} <div class="card shadow mb-4">                           
                              <div
                                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Winning % by trades</h6>
                                  
                              </div>
                              <!-- Card Body -->
                              <div class="card-body">
                                {{win_by_trade | safe}} 
                              </div>
                              
                          </div> {% endcomment %}

                      {% comment %} </div> 
                      <div class="col-xl-6 col-lg-2"> {% endcomment %}
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h5 class="m-0 font-weight-bold text-info">Winning % by days</h5>
                                
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                {{win_by_day | safe}} 
                            </div>
                        </div> 
                    </div> 

                  
                  </div> <!--   outer div-->

                 
                  <div class="row">
                     <!-- Line Chart -->
                     <div class="col-xl-6 col-lg-2">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h5 class="m-0 font-weight-bold text-info">Trades Per Day</h5>
                                
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                              {{line_chart | safe}}
                            </div>
                        </div>
                    </div>
                  </div>


{% endblock body %}