{% extends 'base.html' %}

{% block title %}
<title>TradeDiary-home</title> 
{% endblock title %}


{% block body %}


<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <br><br><br>
            <form method="POST"> 
            {% csrf_token %} 
            <div class="form-group row">   
            <label for="date" class="col-sm-3 col-form-label">Date</label>
            <div class="col-sm-9">
            <input type="date" class="form-control" placeholder="Date" name="date" value="{{trade.date|date:'Y-m-d'}}" id="date">
            </div>
            </div>
     
            <div class="form-group row">   
              <label for="symbol" class="col-sm-3 col-form-label">Symbol</label>
              <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Symbol" name="symbol" value="{{trade.symbol}}" id="symbol">
          </div>
        </div>

            <div class="form-group row">   
              <label for="buy_price" class="col-sm-3 col-form-label">Buy Price</label>
              <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Buy Price" name="buy_price" value="{{trade.buy_price}}" id="buy_price">
          </div>
        </div>    
            
            <div class="form-group row">   
              <label for="no_of_shares" class="col-sm-3 col-form-label">No. Of Shares</label>
              <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="No. Of Shares" name="no_of_shares" value="{{trade.no_of_shares}}" id="no_of_shares">
          </div>
        </div>         
            
            <div class="form-group row">   
              <label for="sell_price" class="col-sm-3 col-form-label">Sell Price</label>
              <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Sell Price" name="sell_price" value="{{trade.sell_price}}" id="sell_price">
          </div>
        </div> 
        <div class="form-group row">   
              <label for="notes" class="col-sm-3 col-form-label">Notes</label>
              <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Notes" name="notes" value="{{trade.notes}}" id="notes">
          </div>
        </div> 
            
            
            <button onclick="{% url 'tradesheet' %}" class="btn btn-secondary" >Close</button>   
            <button type="submit" class="btn btn-secondary" >Save Changes</button>                    
            </form> 
        </div>
    </div>
</div>



     <!-- Modal -->
     {% comment %} <div class="modal fade" id="#myModal" tabindex="-1" role="dialog" aria-labelledby="editMODALTitle" aria-hidden="true" >               
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editMODALTitle">Edit Trade Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
             <h1>heyyy</h1>
             <form method="POST"> 
                {% csrf_token %}                                                      
                <input type="date" class="form-control" placeholder="Date" name="date" value="{{trade.date}}">
                <br>
                <input type="text" class="form-control" placeholder="Symbol" name="symbol" value="{{trade.symbol}}">
                <br>
                <input type="text" class="form-control" placeholder="Buy Price" name="buy_price" value="{{trade.buy_price}}">
                <br>                       
                <input type="text" class="form-control" placeholder="No. Of Shares" name="no_of_shares" value="{{trade.no_of_shares}}">
                <br>                        
                <input type="text" class="form-control" placeholder="Sell Price" name="sell_price" value="{{trade.sell_price}}">
                <br>                      
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
                <button type="submit" class="btn btn-secondary" >Save Changes</button>                    
                </form> 
            
            </div>
            
          </div>
        </div>
      </div> 
      <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
         });
    </script> {% endcomment %}
     
{% endblock body %}