{% extends 'base.html' %}
{% load mathfilters %}


{% block title %}
<title>TradeSheet</title> 
{% endblock title %}

{% block body %}
<br><br>
{% load static %}
<link rel="stylesheet" href="{% static 'Trade.css' %}">
{% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<div class="modal fade" id="#myModal" tabindex="-1" role="dialog" aria-labelledby="editMODALTitle" aria-hidden="true" >               
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMODALTitle">Edit Trade Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
       <h1>heyyy</h1>
       <form method="POST" action=""> 
          {% csrf_token %}                                                      
          <div class="col">
            <input type="date" class="form-control" placeholder="Date" name="date">
           
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Symbol" name="symbol">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Buy Price" name="buy_price">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="No. Of Shares" name="no_of_shares">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Sell Price" name="sell_price">
          </div>        
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
          <button type="submit" class="btn btn-secondary" >Save Changes</button>                    
          </form> 
      
      </div>
      
    </div>
  </div>
</div> 
 {% endcomment %}

  
<form method="POST" action="">
  {% csrf_token %}

 
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success col-lg-4" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endfor %}
  {% endif %} 
  <style>
    .navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
</style>

  <div class="form-row">
    <div class="col">
      <input type="date" class="form-control" placeholder="Date" name="date">
     
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Symbol" name="symbol">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Buy Price" name="buy_price">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Quantity" name="no_of_shares">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Sell Price" name="sell_price">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Notes" name="notes">
    </div>
    <button type="submit" class="btn btn-info">Add Trade</button>
  </div>
  
</form> 

<br><br>

<div class="row">
  <div class="col">
        
        <div>
        <form method="get" class="form-inline justify-content-center"> 
        {{myFilter.form}} 
        <button type="submit" class="btn btn-info">Search</button>
        {% if myFilter.is_bound %}
        <a href="{% url 'tradesheet' %}" class="btn btn-info m-1" role="button">Clear filters</a>
        
        {% endif %}                   
        </form> 
        <br>
    </div>
    
  </div>
</div>


<!-- TradeSheet Table-->
<table class="table table-hover table-striped navbar-center" style = "width: 95%;">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name/Symbol</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buy Price</th>
        <th scope="col">Sell Price</th>
        <th scope="col">Profit/Loss</th>
        <th scope="col">Notes</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
        {% for i in sheet %}
          
            <tr>
            {% comment %} <td>{{i.id}}</td> {% endcomment %}
            <td>{{i.date}}</td>
            <td>{{i.symbol}}</td>            
            <td>{{i.no_of_shares}}</td>
            <td>{{i.buy_price}}</td>
            <td>{{i.sell_price}}</td>
            <td>{{i.profit_loss}}</td>
            <td>{{i.notes}}</td>
            <td><a href="{% url 'editTrade' i.id %}" class="btn btn-info" role="button" aria-pressed="true" >Edit</a></td>
            <td><a href="{% url 'deleteTrade' i.id %}" class="btn btn-info" role="button" aria-pressed="true">Delete</a></td>
            </tr>
                      
        {% endfor %}
 
    </tbody>
  </table>
  

                 
{% endblock body %}